.board-container {
    display: flex;
    gap: 16px;
    padding: 40px;
    align-items: flex-start;
    background-color: #2c3e50;
    height: 100vh; /* 100% of the viewport height */
    min-width: 100vh; /* 100% of the viewport width */
}

.column {
    background-color: #ebecf0;
    border-radius: 5px;
    width: 28%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.task-list {
    padding: 8px;
    background-color: #ebecf0;
    flex-grow: 1;
    min-height: 100px;
}

.task-card {
    padding: 16px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}