* {
    margin: 0;
}

.App h1 {
    margin: auto;
    position: relative;
}

.profile-card {
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: inline-block;
}

.profile-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* Imagem redonda */
    object-fit: cover;
    border: 3px solid #eee;
}

.profile-card h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    color: #333;
}

.profile-card h3 {
    font-weight: 500;
    color: #555;
    margin-top: 0;
    margin-bottom: 12px;
}

.profile-card p {
    font-size: 14px;
    color: #666;
}