#root {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
}

* {
    background-color: #313436;
}

.app {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313436;
    color: white;
}

.search {
    width: 70%;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    background: #1f2123;
    padding: 1.5rem;
    border-radius: 3rem;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    background: transparent;
    color: #a1a1a1;
    outline: none;
}

.search button {
    background-color: #42b883;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search button:hover {
    background-color: #369b6e;
}

.movie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* the more the movies, more lines are being added, 3 movies per line */
}

.movie-card {
    width: 300px;
    margin: 1.5rem;
    border-radius: 12px;
    overflow: hidden;
    background-color: #242729;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 400px;
}