.container {
    width: 400px;
    margin: 50px auto;
    font-family: sans-serif;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done span {
    text-decoration: line-through;
    color: #888;
}

li span {
    cursor: pointer;
    flex-grow: 1;
}

li button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.edit-button {
    background: dodgerblue;
}

.edit-button:hover {
    background: mediumblue;
    transition: all 0.2s ease-in-out;
}

.delete-button, .cancel-button {
    background: red;
}

.delete-button:hover, .cancel-button:hover {
    background: darkred;
    transition: all 0.2s ease-in-out;
}

.save-button {
    background: green;
}

.save-button:hover {
    background: darkgreen;
    transition: all 0.2s ease-in-out;
}